*.background:   #000000
*.foreground:   #dddddd
*.cursorColor:  #dddddd

*.color0:   #000000
*.color1:   #e12323
*.color2:   #06a43e
*.color3:   #ea7300
*.color4:   #1257d3
*.color5:   #c80f6b
*.color6:   #44a0ef
*.color7:   #dddddd
*.color8:   #5a5a5a
*.color9:   #ff4040
*.color10:  #0db755
*.color11:  #ff9630
*.color12:  #2779e1
*.color13:  #e73f93
*.color14:  #7ac0fe
*.color15:  #ffffff

Xft.dpi: 120
Xcursor.theme: Adwaita
Xcursor.size: 16
