! special
*.foreground:   #efefef
*.background:   #000000
*.cursorColor:  #efefef

! black
*.color0:       #000000
*.color8:       #343434

! red
!*.color1:       #d03636
*.color1:       #d92d2d
*.color9:       #eb4646

! green
*.color2:       #109c4c
*.color10:      #00b35a

! yellow
*.color3:       #ff7616
*.color11:      #f98f00

! blue
*.color4:       #246cef
*.color12:      #3c8bef

! magenta
*.color5:       #dd7e7e
*.color13:      #dd9d9d

! cyan
*.color6:       #76aef4
*.color14:      #72b4f4

! white
*.color7:       #ffffff
*.color15:      #efefef

