! special
*.foreground:   #efefef
*.background:   #080808
*.cursorColor:  #efefef

! black
*.color0:       #080808
*.color8:       #343434

! red
*.color1:       #d92d2d
*.color9:       #e92f2f

! green
*.color2:       #009b2c
*.color10:      #01a252

! yellow
*.color3:       #dddd13
*.color11:      #dddd13

! blue
*.color4:       #246cef
*.color12:      #3c8bef

! magenta
*.color5:       #dd7e7e
*.color13:      #dd9d9d

! cyan
*.color6:       #76aef4
*.color14:      #72b4f4

! white
*.color7:       #ffffff
*.color15:      #efefef

