! .Xresources

! Foreground, background and cursor
*.foreground:   #f2f2f2
*.background:   #080808
*.cursorColor:  #f2f2f2

! Main color scheme
*.color0:	#080808
*.color1:	#e92f2f
*.color2:	#00db2f
*.color3:	#dddd13
*.color4:	#3b48e3
*.color5:	#cb0f9f
*.color6:	#008df7
*.color7:	#ffffff
*.color8:	#343434
*.color9:	#e92f2f
*.color10:	#00db2f
*.color11:	#dddd13
*.color12:	#3b48e3
*.color13:	#cb0f9f
*.color14:	#008df7
*.color15:	#efefef
